parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    router.class: Wjzijderveld\BaseBundle\Router\ApiRouter
    router.options.matcher_class: Wjzijderveld\BaseBundle\Router\VersionMatcher
    router.options.matcher.cache_class: null
    router.options.matcher_base_class: Wjzijderveld\BaseBundle\Router\VersionMatcher
    router.request_context.class: Wjzijderveld\BaseBundle\Router\RequestContext
